.m-30 {
   margin: 30px 0px !important;
}

.mt-30 {
   margin-top: 30px !important;
}

.my-10 {
   margin: 10px 0px !important;
}

.mr-5 {
   margin-right: 5px !important;
}

.ml-5 {
   margin-left: 5px !important;
}

.m-5 {
   margin: 0px 5px !important;
}

.w200 {
   width: 200px !important;
}